@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700');
@import url('fonts.css');
@import url('animation.css');

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size:1em;
    font: inherit;    
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS 모듈 */
.clearfix::after{
    content:'';
    display: block;
    clear:both;
}
/* 숨김 콘텐츠 */
.readable-hidden, .skip-nav{
    background: red;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}
.skip-nav:focus{
    position: absolute;
    width:100%;
    height: auto;
    padding: 1em;
    background: #000;
    color:#fff;
    text-align: center;
    margin:0;
    clip:rect(auto, auto, auto, auto);
    z-index: 100;
}
/* 본문 스타일 */
html{
    font-size:10px;
}
body{
    color:#181818;
    background: 
    url('images/bg_flower.png') no-repeat 50% 0,
    linear-gradient(to bottom, #aaa, #eee);

    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.4rem;
}
/* 하이퍼 링크 스타일 */
a{
    color:inherit;
    text-decoration: none;
}
/* layout */
*, *::before, *::after{
    box-sizing: border-box;

}
.container{
    /* background: url('images/bg_flower.png') no-repeat 50% 0, linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%) repeat;
    background-color: #ccc; */
}
.header, .visual, .main, .slogan, .footer{
    width:940px;
    margin: 0 auto;
}
/* header */
.header{
    background-color: #fff;
    position: relative;
    padding:0 30px;
    border-radius: 0 0 15px 15px;
}
/* logo */
.logo{
    position: absolute;
    top: 50px;
    left: 65px;
    z-index: 100;
    /* background: tomato; */
}
/* memeber link */
.member{
    text-align: right;
    font-size:0;
    padding: 2px 0;
}
.member li, .member a{
    display: inline-block;
}
.member li{
    /* background: aqua; */
}
.member li:nth-child(n+2)::before{
    content:":";
    font-size:1.4rem;
}
.member a{
    font-size:1.4rem;
    text-transform: uppercase;
    padding: 8px 10px;
}
.site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    background-color: white;
}
.member li:last-child a{
    padding-right: 0;
}

/* 메인 메뉴 */
.navigation{
    padding-bottom: 40px;
}
.menu{
    background-color: #f37335;
    background-image: linear-gradient(to bottom, #fdc830 0%, #f37335 30%, #f37335 60%, #fdc830 100%);
    border-top: 2px solid #000;
    padding-left: 225px;
    border-radius: 0 0 5px 5px;
    height: 47px;
}
.menu-item{
    float:left;
    position: relative;
    /* height: 45px; */
    border-left: 2px solid rgba(255,255,255,.5);
}
.menu-item:focus,.sub-menu a:focus{
    outline: 0;
}
.menu-item-text{
    display: block;
    color:#ffffff;
    padding:0 20px;
    text-align: center;
    font-weight:700;
    font-size:1.6rem;
    line-height: 45px;
    text-shadow: 
    1px 0 0 #000, 
    0 1px 0 #000,
    -1px 0 0 #000,
    0 -1px 0 #000;
    cursor: pointer;
}
.menu-act .menu-item-text{
    color:#ff0;
}
.menu-act .menu-item-text::after{
    content:'';
    display: block;
    height: 2px;
    background: #000;
}
.sub-menu{
    position: absolute;
    top:47px;
    white-space: nowrap;
    display: none;
}
.sub-menu li, .sub-menu a{
    display: inline-block;
}
.sub-menu a{
    padding: 8px 0;
    margin-right: 10px;
}
/* .sub-menu a:before{
    content: "r";
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
    content: "c";
} */
.menu-act .sub-menu{
    display: block;
}
.menu-item:nth-child(-n+3) .sub-menu{
    left:0;
}
.menu-item:nth-child(n+4) .sub-menu{
    right:0;
}

/* visual */
.visual{
    min-height: 120px;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
}
.visual::after,.visual::before{
    content:"";
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100%;

    /* animation-name:flowerAni;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    animation: flowerAni 2s forwards infinite alternate;
}
.visual::before { 
    background: 
    url("images/ani_flower_03.png") no-repeat 300px 0, 
    url("images/ani_flower_04.png") no-repeat 800px 15px;
    animation-delay: 1000ms;
}
.visual::after{
    background: 
    url("images/ani_flower_01.png")no-repeat 0 -10px,
    url("images/ani_flower_02.png")no-repeat 670px 0;
}
@keyframes flowerAni{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1.02);
    }
}
@keyframes textAni{
    0% {
        color: rgba(0,0,0,0.1);
        font-size: 12px;
        /* transform:translate(0,0); */
        top:0;
        left:0;
    }
    100% {
        color: rgba(0,0,0,1);
        font-size: 24px;
        /* transform:translate(400px , 75px); */
        top:75px;
        left:400px;
    }
}
.visual-text{
    position: absolute;
    display: inline-block;
    animation-duration: 3000ms;
    /* animation-timing-function: cubic-bezier(.05,-0.85,.1,1.74); */
    animation-name: textAni;
    animation-fill-mode: forwards;
    font-family: serif;
}
/* main */
.main{
    height: 60vh;
    background-color: #fff;
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.group{
    /* height: 100%; */
}
.group1{
    width:250px;
    /* background-color: rgba(0,0,0,0.1); */
}

.login{
    padding: 10px;
    background-image: radial-gradient(circle at left top, #f35626,#feab3a);
    border-radius: 10px;
    box-shadow: 5px 5px 0 0 #aaa;
}
.login-heading{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-indent: 10px;
    margin-bottom:5px;
}
.login form{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    
}
.login fieldset{
    border:0;
    padding:0 0 10px 0;
    margin:0;
    border-bottom:1px solid #eee;
}
.login label{
    width:35%;
}
.login input{
    width:65%;
    padding:3px 5px;
}
.user-id, .user-pw{
    width:73%;
    float:left;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2rem;
}
.user-id{
    margin-bottom: 5px;
}
.user-pw{
    
}
.btn-login{
    width:26%;
    height: 51px;
    font-size:1.2rem;
    color:#fff;
    background: #f35626;
    border:0;
}
.login .sign{
    padding:0 10px 10px 10px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.1rem;
    font-weight: normal;
}
.login .sign li::before{
    content:'g';
    font-family: 'webcafeIcon';
    position: relative;
    top:1px;
    color:#f35626;
}

.validation{
    padding:10px 0 0 0;
}
.validation-list li{
    margin-bottom: 10px;
}
.validation-list li a{
    display: block;
    background: url('images/validation_icon.png') no-repeat 15px 50%, linear-gradient(to bottom, #ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 30px;
    padding: 5px 35px 5px 35px;
    font-size:1.2rem;
    text-align: center;
}
.validation-list li a:hover,.validation-list li a:focus{
    color:#f37335;
}

.web-terms{
    background: linear-gradient(to bottom, #ccc, #eee);
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
}
.web-terms .terms-heading{
    font-weight: 700;
    font-size: 1.5rem;
}
.terms{
    padding-left: 70px;
    background: url('../images/w3c-logo.png') no-repeat left center;
    background-size: 60px 90%;
}
.terms dt{
    color:#296897;
}
.group2{
    width:380px;
    background-color: rgba(0,0,0,0.1);
}
.abcwarp{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
}
.c {
  flex: 0 0 100%;
  background: red;
}

.b, .a {
  flex: 0 0 50%;
  background: green;
}

.b {
  background: blue;
}
.group3{
    width:190px;
    background-color: rgba(0,0,0,0.1);
}

/* slogan */
.slogan{
    font-size:2.4rem;
    text-align: center;
    height: 10vh;

    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

/* footer */
.footer-bg{
    background-color: purple;
}
.footer{
    height: 10vh;
    background-color: palevioletred;
}